.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* زيادة المسافة بين العنوان والحاوية */
}
.bank-container {
    width: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* زيادة المسافة بين الحاويات */
    margin-left: -20px;
    margin-top: 10px; /* زيادة المسافة من الأعلى */
    height: auto;
}
.account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 60%;
    text-align: right;
    margin-right: 0.5em;
}
.account-details {
    margin-top: 0px;
    width: 80%;
    text-align: right;
}
.account-details p {
    margin-right: 0rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* زيادة المسافة بين الفقرات */
    width: 100%; /* عرض الفقرة بالكامل */
    text-align: right; /* جعل النصوص تبدأ من الجهة اليمنى */
    direction: rtl; /* ضبط اتجاه النص إلى اليمين */
}
.account-details p strong {
    width: 30%; /* عرض العنوان */
    text-align: right; /* محاذاة العناوين لليمين */
    direction: rtl; /* ضبط اتجاه النص إلى اليمين */
}
.account-details p span {
    width: 70%; /* عرض المعلومات */
    text-align: right; /* محاذاة المعلومات لليمين */
    direction: rtl; /* ضبط اتجاه النص إلى اليمين */
}
.bank-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    right: -100px;
    top: 50%;
    border-radius: 15px;
    transform: translateY(-50%);
}
.bank-logo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
#bankSelect {
    width: 100%; /* جعل الزر يمتد بطول الحاوية */
    padding: 10px;
    margin-bottom: 20px; /* تعديل المسافة بين الزر والعناصر المحيطة */
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(var(--secondary-charity-color), 1);
    color: white !important;
    box-sizing: border-box;
    -webkit-appearance: none; /* إخفاء السهم الافتراضي */
    -moz-appearance: none;
    appearance: none;
    font-size: 15px; /* حجم النص داخل الزر */
    margin-top: 20px; /* زيادة المسافة بين الزر والعناصر المحيطة */
}
.select-container::after {
    content: 'ˇ'; /* رمز السهم للأسفل من FontAwesome */
    font-weight: 900; /* النسخة الصلبة من الأيقونة */
    position: absolute;
    left: 20px; /* موقع الأيقونة داخل الزر */
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px; /* تكبير الأيقونة */
    pointer-events: none; /* منع التفاعل مع الأيقونة */
    color: white; /* لون الأيقونة */
}
.bank-label {
    display: flex;
    align-items: center;
    width: 100%; /* جعل التسمية والزر يمتدان بطول الحاوية */
    white-space: nowrap;
    margin-bottom: 20px; /* تعديل المسافة بين العناوين والزر */
    gap: 40px; /* إضافة مسافة بين اسم المصرف والزر */
}
.bank-label span {
    margin-left: 10px;
    font-weight: bold; /* جعل اسم المصرف بولد */
}
span {
    margin-right: 0.0m;
}

@media screen and (max-width: 1600px) {
    .bank-logo-wrapper {
        width: 180px;
        height: 180px;
        right: -50px;
    }

    .account-details p span {
        width: 88%;
    }

}

@media screen and (max-width: 2560px) and (min-width: 1600px) {
    .account-details p span {
        width: 175%;
    }
    .bank-logo-wrapper {
        width: 200px;
        height: 200px;
        right: -50px;
    }

    .account-info {
        margin-left: 20rem;
    }
}