.button-content-section {
    background-color: #ffffff;
    width: 1004px;
}

.button-content-section .buttons {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 10px;
    padding: 10px; /* Add padding to create space inside the border */
}

.button-content-section .btn {
    flex: 1; /* Ensure buttons take equal space */
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #000000; /* Directly set the border color */
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: rgba(var(--secondary-charity-color), 1);
    margin: 0 10px; /* Add margin to create space between buttons */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    cursor: pointer;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    justify-content: center; /* Center icon and text */
}

.button-content-section .btn img {
    margin-right: 8px; /* Space between icon and text */
    height: 20px; /* Adjust icon size */
}

.button-content-section .btn.active {
    background-color: rgba(var(--secondary-charity-color), 1);
    color: #ffffff;
}

.button-content-section .btn:hover {
    background-color: rgba(var(--secondary-charity-color), 0.2);
    color: #fff;
}

.button-content-section .contents .content {
    display: none;
    margin-top: 37px;
    animation: fadeIn 0.5s ease-in-out;
}

.title {
    column-gap: 22px;
}

.title h4 {
    color: rgba(var(--secondary-charity-color), 1);
    font-weight: bold;
}

.goals-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.button-content-section .contents .content h4 img {
    margin-right: 8px; /* Space between icon and text */
    height: 30px; /* Adjust icon size */
}

.button-content-section .contents .content p {
    font-size: 18px;
    color: #000000;
    margin-right: 10px;
    margin-top: 2rem;
}

.goals-content .goal div {
    background-color: rgba(var(--secondary-charity-color), 0.2);
    color: rgba(var(--secondary-charity-color), 1);
    width: 25px;
    padding: 9px;
}

.button-content-section .contents .content .goal,
.vision-message-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.button-content-section .contents .content .goal {
    display: inline-block;
    box-sizing: border-box;
}

.button-content-section .contents .content .vision-message-container .vision,
.button-content-section .contents .content .vision-message-container .message,
.button-content-section .contents .fields-container .field {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.button-content-section .contents .content .vision-message-container .vision,
.button-content-section .contents .content .vision-message-container .message {
    width: calc(50% - 20px);
}

.button-content-section .contents .fields-container .field {
    width: 100px;
    height: 100px;
}

.button-content-section .contents .content .vision-message-container {
    display: flex;
    justify-content: space-between; /* Separate the squares */
    align-items: center; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
}

.button-content-section .contents .content .vision-message-container .vision,
.button-content-section .contents .content .vision-message-container .message {
    display: flex;
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center; /* Center the icon and text horizontally */
    width: 45%; /* Ensure the squares take up less space */
}

.button-content-section .contents .content .vision-message-container .vision img,
.button-content-section .contents .content .vision-message-container .message img {
    margin-bottom: 10px; /* Space between icon and text */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.field {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
}

.field img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.field p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.fields-container {
    display: flex;
    position: absolute;
    top: 20rem;
    margin-top: 1.5rem;
    gap: 4rem;
}


@media (max-width: 600px) {
    .fields-container {
        flex-direction: column;
    }

    .field {
        margin-bottom: 20px;
    }
}

.vision-message-container {
    text-align: center;
}

@media screen and (min-width:855px) and (max-width:1430px) {
    .fields-container {
        top: 2rem;
    }
}

@media screen and (min-width:1431px) and (max-width:1440px) {
    .fields-container {
        top: 22.5rem;
    }
}

@media screen and (min-width:2000px) and (max-width:2560px) {
    .fields-container {
        top: 30rem;
    }
}